/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  padding: 10px 12px;
  height: 40px;
  font-size: 12px;
  outline: none;
  box-sizing: border-box;
  border-radius: var(--radius-md);
  border: 1px solid var(--border-light);
  background-color: var(--bg-surface-1);
  color: var(--content-default);
  -webkit-text-fill-color: var(--content-default);
  transition: all 0.2s ease-out;
  font-family: var(--font-family);
}

input[readonly],
input[disabled] {
  border: none;
  background: transparent;
  color: var(--content-default);
  -webkit-text-fill-color: var(--content-default);
  opacity: 1;
}

input::placeholder {
  color: var(--neutral-muted);
  -webkit-text-fill-color: var(--neutral-muted);
}


input:focus {
  border-color: var(--primary-default)
}

.input-shaking {
  animation: shake 0.2s ease-in-out 0s 2;
  border-color: red;
}

@keyframes shake {
  0% {
    transform: translateX(0rem);
  }

  25% {
    transform: translateX(0.5rem);
  }

  75% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0rem);
  }
}